* {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

body {
	margin: 0;
	background: #6B5C40 url('../images/dark_brick_wall.png') repeat;
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	display: flex;
	align-items: stretch;
}

.sidebar {
    display: flex;
    flex-direction: column;
	position: relative;
	width: 300px;
	max-height: 768px;
    flex: 1;
}

.cinder-block {
	padding: 32px;
	cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wobble {
	transition: transform 0.2s ease-out;
	animation: wobble 2.5s alternate infinite ease-in-out;
	max-width: 256px;
}

.sine {
	transition: transform 0.2s ease-out;
	animation: upDown 2s alternate infinite ease-in-out;
	max-width: 256px;
}

@keyframes upDown {
	from { transform: translateY(-8px); }
	to { transform: translateY(8px); }
}

@keyframes wobble {
	from { transform: rotate(-2deg); }
	to { transform: rotate(2deg); }
}

.cinder-block img {
	transition: transform 0.2s ease-out;
	max-width: 256px;
	text-align: center;
}

.cinder-block img:hover {
	transform: scale(1.05);
}

.cinder-block img:active {
	transition-duration: 0s;
	transform: scale(1);
}

.viewport-container {
	position: relative;
}

.score {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0;
	color: white;
    text-shadow: 0px 0px 4px black;
}

.score h3 {
	margin: 0.5em 0;
}

.generator-list {
    max-height: 100%;
    overflow: auto;
    /*padding: 0 10px;*/
}

.generator {
    border-bottom: 1px solid #444;
}

.generator-list > ul > li:first-child {
	/*border-width: 1px 0 1px 0;*/
	border-top: 1px solid #444;
}

.generator > button {
    /*background: url('../images/solid.png');*/
    color: #CCC;
    border: none;
    background: none;
    border-radius: 0px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    margin: 0;
	padding: 8px;
	display: flex;
    flex-direction: row;
    align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*box-shadow: 0px 4px 8px rgba(0,0,0,0.8) inset;*/
}


.generator > button.disable {
	opacity: 0.4;
	pointer-events: none;
}

.generator > button > .label {
	flex: 1;
}

.generator > button > img {
	margin-right: 10px;
	width: 40px;
}


.inline-cinder-block {
	display: inline-block;
	background-image: url('../images/parpaing_big.png');
	background-size: 100%;
	width: 1em;
	height: 1em;
    vertical-align: middle;
}

.milestone {
	width: 300px;
	height: 100%;
	flex: 1;
}

.milestone > h2 {
	text-align: center;
    color: #CCC;
    text-transform: uppercase;
}

.milestone > ul {
	display: flex;
	flex-wrap: wrap;
	padding: 5px;
	align-items: center;
}

.milestone > ul > li {
    /* border: 2px solid orange; */
    opacity: 0.4;
    margin: 5px;
    border-radius: 4px;
    background: rgba(255, 187, 54, 0.4);
    color: #CCC;
    max-width: 64px;
    padding: 10px;
}

.milestone > ul > li.unlocked {
	opacity: 1;
}