img {
	max-width: 100%;
	height: auto;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
}

.sidebar {
	position: relative;
	background: #F0F;
	width: 400px;
	height: 100%;
}

.viewport-container {
	position: relative;
}

.score {
	position: absolute;
	width: 100%;
	text-align: center;
}